@import 'tailwindcss';

body {
  font-family: var(--font-inter);
}

@theme {
  --color-black: #000000;
  --color-gray: #acacac;
  --color-lead: #29292e;
  --color-pink: #fd70a1;
  --color-pink-dark: #b54c6f;
  --color-white: #ffffff;
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-b from-[#fd70a1] to-[#b54c6f];
  }
}
